<% provide(:title, "Contact") %>

<h1>Contact Me</h1>
<p>If you have any questions about the Virtues App, contact Joe Yevoli
<a href="mailto:joe.yevoli@gmail.com?Subject=This%20app%20is%20awesome!" target="_top">Send Mail</a></p>
