<footer class="footer">
  <small>
    The <a href="http://www.virtues-app.herokuapp.com/">Virutes App</a>
    by <a href="http://www.joeyevoli.com/">Joe Yevoli</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://joeyevoli.com/">News</a></li>
    </ul>
  </nav>
</footer>